.member-avatar {
    position: relative;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius;
    min-height: 90px;
    display: flex;
    align-items: center;
}

.opaljob-member-summary {
    .member-avatar {
        img {
            padding: 1.5rem;
            border: 1px solid $border-color;
            border-radius: $border-radius;
            display: flex;
        }
    }
}

.employer-member {
    .member-avatar {
        top: -80px;
    }
}
.label-featured {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 10px;
    color: $white;

    &:after {
        content: "";
        top: 0;
        z-index: 1;
        left: -45px;
        position: absolute;
        height: 30px;
        width: 100px;
        background: #f6763e;
        transform: rotate(-45deg);
    }
    i {
        position: relative;
        z-index: 2;
    }
}