
.opaljob-title {
    @include opaljob-title();
}

[class*="field-cols-"] {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;

    .field-head {
        flex: 0 0 100%;
        padding: 0 15px;
    }

    .form-group {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        padding: 0 15px;
    }

}

.field-cols-4 {
    > .form-group {
        @include media-breakpoint-up(md) {
            flex: 0 0 25%;
            max-width: 25%;
        }

    }
}

.field-cols-2 {
    > .form-group {
        @include media-breakpoint-up(md) {
            flex: 0 0 50%;
            max-width: 50%;
        }

    }
}

.field-cols-3 {
    > .form-group {
        @include media-breakpoint-up(md) {
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }

    }
}

.opaljob-wrap {
    @include opaljob-wrap();
}

.panel-section-jobs,
.job-member-info,
.opaljob-single-content {
    @include opaljob-wrap();
}

.card-wrap {
    @include opaljob-wrap();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    .card-body {
        -ms-flex: 1;
        flex: 1;
        padding: 0;
        color: inherit;
    }

    .member-avatar {
        margin-right: 1.5rem;
    }

    .member-button {
        margin-left: 1.5rem;
    }
}

.member-content-info {
    a {
        &:not(:hover) {
            color: inherit;
        }
    }
}

.member-category {
    a {
        display: inline-block;

        &:not(:last-child) {
            margin-left: 0;
        }
    }
}
