@mixin opaljob-wrap($padding: 30px, $color: $white) {
    background-color: $color;
    padding: $padding;
    margin-bottom: $padding;
    border-radius: $border-radius;
}

@mixin opaljob-title($font-size: 24px) {
    font-size: $font-size;
}
@mixin opaljob-widget-title($font-size: 24px) {
    font-size: $font-size;
}