//Google Login
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mfp-with-zoom .white-popup{
  top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mfp-with-zoom.mfp-ready .white-popup{
  top: 0;
}
.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
    
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.white-popup {
  position: relative;
  background: $white;
  padding: $grid-gutter-width;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
  .mfp-close{
    top: 15px;
  }
  .submit{
    a{
      display: block;
      margin-top: 10px;
    }
  }
  .opaljob-button{
    padding: 17px 35px 14px 35px;
    width: 100%;
  }
}

