.opaljob_options_panel {
    .panel-head {
        a {
            color: inherit;
        }

        .fa {
            width: 36px;
            height: 36px;
            line-height: 36px;
            border-radius: 50%;
            background-color: $primary;
            text-align: center;
            font-size: 1.2em;
        }

        .opaljob-label {
            text-decoration: none;
        }
    }
}

//sidebar
.job-content-sidebar {

    .summary-item {
        padding: 10px 0;
        display: flex;

        &:not(:first-child) {
            border-top: 1px solid $border-color;
        }
    }

    .job-preview,
    .job-summary {
        margin-bottom: 40px;
    }

    .summary-icon {
        margin-right: 15px;
    }

    .meta-list-inner {
        padding: 0;
    }
}

// tag
.skill-tags {
    a {
        border-color: $border-color;
    }
}